<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components</title>
    <style>
      body {
        margin-left: 20px;
      }

      a {
        display: block;
        text-decoration: none;
      }

      a::before {
        content: "· ";
        color: red;
      }

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Components test selector</h1>
    <div class="grid">
      <a href="./alg-iron-button-state/index.html">alg-iron-button-state</a>
      <a href="./alg-iron-checked-element-behavior/index.html">alg-iron-checked-element-behavior</a>
      <a href="./alg-iron-dropdown/index.html">alg-iron-dropdown</a>
      <a href="./alg-iron-icon/index.html">alg-iron-icon</a>
      <a href="./alg-iron-icon/demo.html">icon set</a>
      <a href="./alg-iron-image/index.html">alg-iron-image</a>
      <a href="./alg-iron-resizable-behavior/index.html">alg-iron-resizable-behavior</a>
      <a href="./alg-iron-selector/index.html">alg-iron-selector</a>
      <a href="./alg-iron-validatable-behavior/index.html">alg-iron-validatable-behavior</a>
      <a href="./alg-paper-button/index.html">alg-paper-button</a>
      <a href="./alg-paper-fab/index.html">alg-paper-fab</a>
      <a href="./alg-paper-icon-button/index.html">alg-paper-icon-button</a>
      <a href="./alg-paper-radio-button/index.html">alg-paper-radio-button</a>
      <a href="./alg-paper-radio-group/index.html">alg-paper-radio-group</a>
      <a href="./alg-paper-ripple/index.html">alg-paper-ripple</a>
      <a href="./alg-paper-toggle-button/index.html">alg-paper-toggle-button</a>
      <a href="./iron-flex-layout/index.html">iron-flex-layout</a>
      <a href="./paper-styles/index.html">paper-styles</a>
    </div>
  </body>
</html>
