<!doctype html>
<!--
@copyright @polymer\paper-styles\demo\index.html 3.0 20170822
@copyright 2017-2018 adalberto.lacruz@gmail.com
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paper-styles demo</title>
    <link rel="stylesheet" apply type="text/css" href="../demo_pages.css">
    <!--<script defer src="main.dart.js"></script>-->
    <script defer src="main.dart" type="application/dart"></script>
    <script defer src="packages/browser/dart.js"></script>
  </head>

  <body style="opacity: 0">
    <h1 class="centered">paper-styles</h1>
    <div class="vertical-section-container centered">
      <h4>typography.html</h4>
      <div class="demo-snippet">
        <div class="redlines">
          <div class="paper-font-display4">Display 4</div>
          <div class="paper-font-display3">Display 3</div>
          <div class="paper-font-display2">Display 2</div>
          <div class="paper-font-display1">Display 1</div>
          <div class="paper-font-headline">Headline</div>
          <div class="paper-font-title">Title</div>
          <div class="paper-font-subhead">Subhead</div>
          <div class="paper-font-body2">Body 2</div>
          <div class="paper-font-body1">Body 1</div>
          <div class="paper-font-caption">Caption</div>
          <div class="paper-font-menu">Menu</div>
          <div class="paper-font-button">Button</div>
        </div>

        <p class="redlines paper-font-body1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          tincidunt dui sit amet mi auctor, ac gravida magna aliquam. Fusce quis
          purus elementum, tempus nisi vel, volutpat nulla. Vestibulum mollis
          dictum tellus, vulputate porttitor arcu. Curabitur imperdiet risus id
          egestas accumsan. Donec lectus felis, dignissim id iaculis sit amet,
          faucibus in leo.
        </p>

        <p class="redlines paper-font-body2">
          Mauris id urna ac ante ultrices commodo a imperdiet elit. Vivamus
          interdum neque magna, eget dapibus est auctor et. Donec accumsan
          libero nec augue scelerisque, ac egestas ante tincidunt. Proin
          sollicitudin, mi eget sagittis mollis, arcu orci scelerisque turpis, a
          sollicitudin tellus quam non sapien.
        </p>
      </div>

      <h4>shadow.html</h4>
      <div class="demo-snippet">
        <div class="shadow shadow-2dp">2dp</div>
        <div class="shadow shadow-3dp">3dp</div>
        <div class="shadow shadow-4dp">4dp</div>
        <div class="shadow shadow-6dp">6dp</div>
        <div class="shadow shadow-8dp">8dp</div>
        <div class="shadow shadow-12dp">12dp</div>
        <div class="shadow shadow-16dp">16dp</div>
      </div>

      <h4>default-theme.html</h4>
      <div class="demo-snippet">
        <div>
          <div class="toolbar">Title</div>
          <div class="item">
            <div class="fab">+</div>
            <div class="primary">Primary text</div>
            <div class="secondary">Secondary text</div>
          </div>
          <div class="disabled-item">Disabled</div>
        </div>
      </div>

      <h4>Element shared styles: paper-material</h4>
      <div class="demo-snippet">
        <div class="paper-material" elevation="1">1</div>
        <div class="paper-material" elevation="2">2</div>
        <div class="paper-material" elevation="3">3</div>
        <div class="paper-material" elevation="4">4</div>
        <div class="paper-material" elevation="5">5</div>
      </div>

      <h4>Element shared styles: paper-item</h4>
      <button class="paper-item" role="option">Inbox</button>
      <button class="paper-item" role="option">Starred</button>
      <button class="paper-item" role="option">Sent mail</button>
    </div>
  </body>
</html>
