<!doctype html>
<!--
@copyright @polymer\iron-icons\demo\index.html
@copyright 2017-2018 adalberto.lacruz@gmail.com
 -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>alg-iron-icon demo iconset</title>
    <link rel="stylesheet" apply type="text/css" href="../demo_pages.css">
    <script defer src="main.dart" type="application/dart"></script>
    <script defer src="packages/browser/dart.js"></script>
  </head>
  <body style="opacity: 0">
    <h1 class="centered">alg-iron-icon demo iconset</h1>
    <app-demo></app-demo>
  </body>
</html>
