<!doctype html>
<!--
@copyright @polymer\iron-icon\demo\index.html
@copyright 2017-2018 adalberto.lacruz@gmail.com
 -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>alg-iron-icon</title>
    <link rel="stylesheet" apply type="text/css" href="../demo_pages.css">
    <script defer src="main.dart.js"></script>
  </head>
  <body style="opacity: 0">
    <h1 class="centered">alg-iron-icon</h1>
    <div class="vertical-section centered">
      <alg-iron-icon src="location.png"></alg-iron-icon><span>location.png</span><p>
      <alg-iron-icon icon="menu"></alg-iron-icon><span>menu</span><p>
      <alg-iron-icon icon="base64:location"></alg-iron-icon><span>base64:location</span>
    </div>
  </body>
</html>
