<!doctype html><!--
@copyright @polymer\paper-fab\demo\index.html
@copyright 2017-2018 adalberto.lacruz@gmail.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>alg-paper-fab</title>
    <link rel="stylesheet" apply type="text/css" href="../demo_pages.css">
    <link rel="stylesheet" apply type="text/css" href="style.css">
    <!--<script defer src="main.dart.js"></script>-->
    <script defer src="main.dart" type="application/dart"></script>
    <script defer src="packages/browser/dart.js"></script>
  </head>
  <body style="opacity: 0">
    <h1 class="centered">alg-paper-fab</h1>
    <div class="vertical-section-container centered">
      <h3>FABs can be enabled or disabled</h3>
      <div class="demo-snipped">
        <alg-paper-fab icon="favorite" title="heart"></alg-paper-fab>
        <alg-paper-fab disabled="" icon="reply" title="reply"></alg-paper-fab>
        <alg-paper-fab class="label" label="😻" title="heart eyes cat"></alg-paper-fab>
      </div>

      <h3>FABs can be made smaller using the <i>mini</i> attribute</h3>
      <div class="demo-snipped">
        <alg-paper-fab mini="" icon="favorite" title="heart"></alg-paper-fab>
        <alg-paper-fab mini="" disabled="" icon="reply" title="reply"></alg-paper-fab>
        <alg-paper-fab mini="" class="label" label="😻" title="heart eyes cat"></alg-paper-fab>
      </div>

      <h3>FABs can hide the ripple effect using the <i>noink</i> attribute</h3>
      <div class="demo-snipped">
        <alg-paper-fab noink="" icon="favorite" title="heart"></alg-paper-fab>
      </div>

      <h3>FABs can be styled using custom properties</h3>
      <div class="demo-snipped">
        <alg-paper-fab icon="favorite" title="heart" class="blue"></alg-paper-fab>
        <alg-paper-fab icon="favorite" title="heart" class="orange"></alg-paper-fab>
      </div>

      <h3>FABs can send a message to the controller</h3>
      <div class="demo-snipped">
        <show-msg>
          <alg-paper-fab id="fab-action" label="A" on-action>action</alg-paper-fab>
        </show-msg>
      </div>
    </div>
  </body>
</html>
