<!doctype html>
<!--
@copyright @polymer\iron-checked-element-behavior\demo\index.html
@copyright 2017-2018 adalberto.lacruz@gmail.com
 -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>alg-iron-checked-element-behavior</title>
  <link rel="stylesheet" apply type="text/css" href="../demo_pages.css">
  <script defer src="main.dart.js"></script>
</head>

<body style="opacity: 0">
  <h1 class="centered">alg-iron-checked-element-behavior</h1>
  <div class="horizontal-section-container">
    <div>
      <h4>Not required</h4>
      <div class="horizontal-section">
        <simple-checkbox></simple-checkbox>
      </div>
    </div>
    <div>
      <h4>Required</h4>
      <div class="horizontal-section">
        <simple-checkbox required></simple-checkbox>
      </div>
    </div>
  </div>
</body>

</html>
